dist/
/www
/loader

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

coverage/
.stencil/
.idea/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

coverage
