@import "../../../styles/buttons";

:host {
  display: block;
}


a{
  color: var(--bth-app-blue);
  text-decoration: none;

  &:hover{
    color: var(--bth-app-blue-dark-10);
    text-decoration: underline;
  }
}

.execucao{
  padding: 8px;
  font-size: smaller;

  &__list{
    display: flex;
    flex-direction: column;
    padding: 8px 4px;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: center;
    align-items: center;
    height: 95%;
    text-align: center;

    &-records {
      background-image: url("https://cdn.betha.cloud/plataforma/design/kare/framework/0.1.6/assets/images/records.svg");
      background-repeat: no-repeat;
      background-position-x: center;
      background-size: 130px;
      height: 110px;
      width: 130px;
    }

    &-inconsistency {
      background-image: url("https://cdn.betha.cloud/plataforma/design/kare/framework/0.1.6/assets/images/list.svg");
      background-repeat: no-repeat;
      background-position-x: center;
      background-size: 130px;
      height: 110px;
      width: 130px;
    }

    h4 {
      font-size: 20px;
      font-weight: var(--bth-app-font-weight-regular);
      margin: 24px 0px;
    }
  }

}
